body {
  font-family: var(--font-family-primary);
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-japanese-laurel-lightest);
}

body.is-open-menu {
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  line-height: 1.4;
  font-size: 1.25rem;
}

h1,
h2 {
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 90rem) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}
