.footer {
  background-color: var(--color-japanese-laurel-darker);
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  padding: 5rem 1rem;
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-nav-link {
  font-weight: 400;
  font-size: 1rem;
  transition: opacity var(--transition-base);
}

.footer-social-list {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}

.social-icon-wrapper {
  padding: 0.4rem;
}

.social-icon {
  fill: var(--color-white);
  transition: opacity var(--transition-base);
}

.social-icon-wrapper:is(:hover, :focus) .social-icon,
.footer-nav-link:is(:hover, :focus) {
  opacity: 0.5;
}

.social-icon-wrapper:is(:active) .social-icon,
.footer-nav-link:is(:active) {
  opacity: 0.6;
}

.footer-bottom {
  position: relative;
  text-align: center;
}

.footer-bottom::before {
  content: '';
  position: absolute;
  left: 0;
  top: -2rem;
  width: 100%;
  height: 1px;
  background-color: var(--opacity-white-20);
}

.footer-copyright-text {
  font-weight: 400;
  font-size: 0.875rem;
}

@media only screen and (min-width: 48rem) {
  .footer .container {
    padding: 5rem 2rem;
  }

  .footer-nav-list {
    flex-direction: row;
  }

  .footer-social-list {
    gap: 0;
  }

  .social-icon-wrapper {
    padding: 0.625rem;
  }

  .social-icon {
    width: 1.5rem;
    aspect-ratio: 1;
  }
}

@media only screen and (min-width: 90rem) {
  .footer .container {
    padding: 5rem 4rem;
  }

  .footer-content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .footer-logo-svg {
    width: 5.25rem;
    height: 2.25rem;
  }
}
