<header class="header">
  <div class="header-container">
    <a class="header-logo" href="/">
      <svg width="142" height="60" class="header-logo-svg">
        <use href="/img/company-logo.svg#header-logo"></use>
      </svg>
    </a>
    <div class="header-actions">
      <a href="#assorts" class="header-order-button-tablet button button-green"
        >Order</a
      >

      <button class="burger-menu-btn" type="button" aria-label="Open menu">
        <svg width="24" height="24" class="burger-icon">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="close-menu-btn" type="button" aria-label="Close menu">
        <svg width="16" height="16" class="close-icon">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="overlay"></div>
    <nav class="header-nav">
      <ul class="header-nav-list nav-list">
        <li class="header-nav-item">
          <a href="#hero" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#mission" class="header-nav-link">Mission</a>
        </li>
        <li class="header-nav-item">
          <a href="#benefits" class="header-nav-link">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a href="#assorts" class="header-nav-link">Assortment</a>
        </li>
        <li class="header-nav-item">
          <a href="#feedback" class="header-nav-link">Feedbacks</a>
        </li>
        <li class="header-nav-item">
          <a href="#faq" class="header-nav-link">FAQ</a>
        </li>
        <li class="header-nav-item">
          <a href="#contacts" class="header-nav-link">Contacts</a>
        </li>
      </ul>
      <a href="#assorts" class="header-order-button-menu button button-green"
        >Order</a
      >
    </nav>
  </div>
</header>
