<section class="mission" id="mission">
  <div class="container">
    <div class="mission-info-wrapper">
      <h2 class="mission-title">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>
      <p class="mission-text">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with fresh, locally sourced organic products that nourish
        both body and soul. We partner with ethical farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>

    <picture>
      <source
        type="image/avif"
        srcset="
          ./img/mission/avif/mission@1x.avif 1x,
          ./img/mission/avif/mission@2x.avif 2x
        "
      />

      <source
        type="image/webp"
        srcset="
          ./img/mission/webp/mission@1x.webp 1x,
          ./img/mission/webp/mission@2x.webp 2x
        "
      />

      <img
        src="./img/mission/mission@1x.jpg"
        srcset="
          ./img/mission/mission@1x.jpg 1x,
          ./img/mission/mission@2x.jpg 2x
        "
        alt="Team packing fresh organic vegetables into eco-friendly bags"
        width="343"
        height="193"
        class="mission-img"
        loading="lazy"
      />
    </picture>
  </div>
</section>
